*{
    margin: 0;
    padding: 0;
}
/* shareable style */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}
.flex{
    display: flex;
}
.white-text{
    color:rgba(255, 255, 255, 1);
}
.p-clr{
    color:rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.btn-primary{
    color: rgba(255, 255, 255, 1);
    font-size: 600;
    font-size: 1.125rem;
    background-color:rgba(230, 83, 60, 1);
    padding: .5rem 1.25rem;
    border-radius: 2.875rem;
    border: none;
    width: 214px;
}
/* shareable style end */
/* header section start */
header{
    background-image: linear-gradient(#111111, #777777, #111111);
    /* height: 685px; */
}
.nav-area, .habit-area, .running{
    max-width: 80%;
    margin: 0 auto;
    padding: 55px 0 0 0;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-text h2{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}
ul{
    border:1px solid #777777;
    border-radius: 2.5rem;
    align-items: center;
    gap: 2.8125rem;
    padding: 4px 20px 4px 4px;
}
ul>li{
    list-style: none;
    color: rgba(255, 255, 255, 1);
}
/* banner start */
.banner-head{
    font-size: 4rem;
    font-weight: 900;
    margin: 6rem 0 1.56rem;
    
}
.app-btn{
    color: rgba(255, 255, 255, 1);
    font-size: 600;
    font-size: 1.125rem;
    background-color:black;
    padding: .5rem 1.25rem;
    border-radius: 2.875rem;
    border: none;
}
.banner-btn{
    gap: 14px;
    margin: 28px 55px 0 0;
}
.ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:rgba(230, 83, 60, 1) ;
}
.th-card{
    background-color:  rgba(48, 48, 48, 0.54);
    width: 200px;
    height: 95px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    position: relative;
    top: -160px;
    left: -100px;
}
h6{
    font-weight: 900;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 1);
}
.fh-card{
    background-color:  rgba(48, 48, 48, 0.54);
    width: 200px;
    height: 95px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    position: relative;
    top: -520px;
    left: 250px;
}
h4{
    font-weight: 900;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 1);
}
.nav-banner-text{
    width: 520px;
}
.nav-banner{
    gap: 95px;
}
/* banner end */
/* header section end */
/* change habit section start */
main{
    background-color: #111111;
}
h1{
    font-weight: 900;
    font-size: 3rem;
    color:rgba(255, 255, 255, 1);
}
.habit-text{
    /* width:41.9375rem ; */
    text-align: center;
    padding: 0 185px 55px;
}
.habit-area p{
    margin: 14px 0 55px;
}
.text-head{
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 1.125rem;
}
.head{
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 1.125rem;
    
}
.text{
    color:rgba(255, 255, 255, 0.5) ;
    font-size: 0.875rem;
}
.habit-text-img img{
    border-radius: 50%;
}
.first-img{
    width:230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.habit-text-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
/* running area */
.running{
    background: rgba(34, 34, 34, 1);
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    gap: 150px;
}
.running-text{
    width: 440px;
}
.running-img, .running-text{
    padding: 30px;
}
.running-text p{
    margin: 15px 0 30px;
}
.running img{
    width: 365px;
    height: 310px;
    border-radius: 1.125rem;
}

