*{
    margin: 0;
    padding: 0;
}
/* shareable style */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}
.flex{
    display: flex;
}
.white-text{
    color:rgba(255, 255, 255, 1);
}
/* header section start */
header{
    background-image: linear-gradient(#111111, #777777);
}
.navbar{
    justify-content: space-between;
}
.nav-text h2{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}
ul{
    border:1px solid #777777;
}
ul>li{
    list-style: none;
    color: rgba(255, 255, 255, 1);
}
/* header section end */